@layer typography {
  * {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  a {
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .text-right {
    text-align: right;
  }

  .text-left {
    text-align: left;
  }

  .text-center {
    text-align: center;
  }

  .pixelify-sans-regular {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .pixelify-sans-medium {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  .pixelify-sans-semibold {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

  .pixelify-sans-bold {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  .underline {
    text-decoration: underline;
  }

  /*Typography colors*/
  .blue-color {
    color: var(--blue);
  }

  .primary-color {
    color: var(--primary);
  }

  .secondary-color {
    color: var(--secondary);
  }

  .grenn-color {
    color: var(--green);
  }

  .light-color {
    color: var(--light);
  }

  .extra-color {
    color: var(--extra);
  }

  .white-color {
    color: var(--white);
  }

  .yellow-color {
    color: var(--yellow);
  }

  /* typography sizes */
  .text-xs {
    font-size: var(--fs-xs);
  }

  .text-s {
    font-size: var(--fs-s);
  }

  .text-m {
    font-size: var(--fs-m);
  }

  .text-l {
    font-size: var(--fs-l);
  }

  .text-xl {
    font-size: var(--fs-xl);
  }

  .text-xxl {
    font-size: var(--fs-xxl);
  }

  .text-giant {
    font-size: var(--fs-giant);
  }

  .text-king {
    font-size: var(--fs-king);
  }

  /*Typography weight*/
  .regular {
    font-weight: var(--fw-regular);
  }

  .medium {
    font-weight: var(--fw-medium);
  }

  .semiBold {
    font-weight: var(--fw-semiBold);
  }

  .bold {
    font-weight: var(--fw-bold);
  }


  @media (max-width: 768px) {
    .text-king {
      font-size: 3rem;
    }

    .text-giant {
      font-size: 2rem;
    }

    .text-xxl {
      font-size: 1.75rem;
    }
  }

  @media (max-width: 480px) {
    .text-king {
      font-size: 2.5rem;
    }

    .text-giant {
      font-size: 1.75rem;
    }

    .text-xxl {
      font-size: 1.5rem;
    }

    .text-xl {
      font-size: 1.25rem;
    }
  }
}