@layer spacing {
    .my-xxs {
        margin-top: var(--sp-xxs);
        margin-bottom: var(--sp-xxs);
    }

    .my-xs {
        margin-top: var(--sp-xs);
        margin-bottom: var(--sp-xs);
    }

    .my-s {
        margin-top: var(--sp-s);
        margin-bottom: var(--sp-s);
    }

    .my-m {
        margin-top: var(--sp-m);
        margin-bottom: var(--sp-m);
    }

    .my-l {
        margin-top: var(--sp-l);
        margin-bottom: var(--sp-l);
    }

    .my-xl {
        margin-top: var(--sp-xl);
        margin-bottom: var(--sp-xl);
    }

    .my-xxl {
        margin-top: var(--sp-xxl);
        margin-bottom: var(--sp-xxl);
    }

    .my-giant {
        margin-top: var(--sp-giant);
        margin-bottom: var(--sp-giant);
    }

    .my-super {
        margin-top: var(--sp-super);
        margin-bottom: var(--sp-super);
    }


    .mb-giant {
        margin-bottom: var(--sp-giant);
    }

    .mt-m {
        margin-bottom: var(--sp-m);
    }

    



    /* Margins - Horizontal (izquierda y derecha) */
    .mx-xxs {
        margin-left: var(--sp-xxs);
        margin-right: var(--sp-xxs);
    }

    .mx-xs {
        margin-left: var(--sp-xs);
        margin-right: var(--sp-xs);
    }

    .mx-s {
        margin-left: var(--sp-s);
        margin-right: var(--sp-s);
    }

    .mx-m {
        margin-left: var(--sp-m);
        margin-right: var(--sp-m);
    }

    .mx-l {
        margin-left: var(--sp-l);
        margin-right: var(--sp-l);
    }

    .mx-xl {
        margin-left: var(--sp-xl);
        margin-right: var(--sp-xl);
    }

    .mx-xxl {
        margin-left: var(--sp-xxl);
        margin-right: var(--sp-xxl);
    }

    .mx-giant {
        margin-left: var(--sp-giant);
        margin-right: var(--sp-giant);
    }

    /* Padding - Todos los lados */
    .p-xxs {
        padding: var(--sp-xxs);
    }

    .p-xs {
        padding: var(--sp-xs);
    }

    .p-s {
        padding: var(--sp-s);
    }

    .p-m {
        padding: var(--sp-m);
    }

    .p-l {
        padding: var(--sp-l);
    }

    .p-xl {
        padding: var(--sp-xl);
    }

    .p-xxl {
        padding: var(--sp-xxl);
    }

    .p-giant {
        padding: var(--sp-giant);
    }

    /* Padding - Vertical (arriba y abajo) */
    .py-xxs {
        padding-top: var(--sp-xxs);
        padding-bottom: var(--sp-xxs);
    }

    .py-xs {
        padding-top: var(--sp-xs);
        padding-bottom: var(--sp-xs);
    }

    .py-s {
        padding-top: var(--sp-s);
        padding-bottom: var(--sp-s);
    }

    .py-m {
        padding-top: var(--sp-m);
        padding-bottom: var(--sp-m);
    }

    .py-l {
        padding-top: var(--sp-l);
        padding-bottom: var(--sp-l);
    }

    .py-xl {
        padding-top: var(--sp-xl);
        padding-bottom: var(--sp-xl);
    }

    .py-xxl {
        padding-top: var(--sp-xxl);
        padding-bottom: var(--sp-xxl);
    }

    .py-giant {
        padding-top: var(--sp-giant);
        padding-bottom: var(--sp-giant);
    }

    /* Padding - Horizontal (izquierda y derecha) */
    .px-xxs {
        padding-left: var(--sp-xxs);
        padding-right: var(--sp-xxs);
    }

    .px-xs {
        padding-left: var(--sp-xs);
        padding-right: var(--sp-xs);
    }

    .px-s {
        padding-left: var(--sp-s);
        padding-right: var(--sp-s);
    }

    .px-m {
        padding-left: var(--sp-m);
        padding-right: var(--sp-m);
    }

    .px-l {
        padding-left: var(--sp-l);
        padding-right: var(--sp-l);
    }

    .px-xl {
        padding-left: var(--sp-xl);
        padding-right: var(--sp-xl);
    }

    .px-xxl {
        padding-left: var(--sp-xxl);
        padding-right: var(--sp-xxl);
    }

    .px-giant {
        padding-left: var(--sp-giant);
        padding-right: var(--sp-giant);
    }
}